<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Virtual Deck</title>
    <link rel="icon" type="image/x-icon" href="http://virtualdeck.local.com/images/favicon.ico" />
    <link rel="stylesheet" href="http://virtualdeck.local.com/stylesheets/unauth.css"/>
</head>

<body>
<div id="error">
    <h1>Error</h1>
    <h3>An error just occured</h3>
    <h5>{% error %}</h5>
    <div><a href="http://virtualdeck.local.com/index.php">Homepage</a></div>
</div>
</body>

<footer>
    <script type="text/javascript" src="http://virtualdeck.local.com/scripts/jquery-3.3.1.min.js"></script>
</footer>
</html>
