<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Virtual Deck</title>
    <link rel="icon" type="image/x-icon" href="/2018/virtualdeck/images/favicon.ico" />
    <link rel="stylesheet" href="/2018/virtualdeck/stylesheets/unauth.css"/>
    <link rel="stylesheet" href="/2018/virtualdeck/stylesheets/font-awesome.css">
</head>

<body>
<div id="error">
    <h1>Erreur</h1>
    <h3>Une erreur est survenue</h3>
    <h5>{% error %}</h5>
    <div><a href="/2018/virtualdeck/index.php">Page d'accueil</a></div>
</div>
</body>

<footer>
    <script type="text/javascript" src="/2018/virtualdeck/scripts/jquery-3.3.1.min.js"></script>
</footer>
</html>
