<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Virtual Deck</title>
    <link rel="icon" type="image/x-icon" href="http://virtualdeck.local.com/images/favicon.ico" />
    <link rel="stylesheet" href="http://virtualdeck.local.com/stylesheets/auth.css"/>
    <link rel="stylesheet" href="http://virtualdeck.local.com/stylesheets/profile.css"/>
</head>

<body>

<header>
    <div id="left">
        <div id="hololens"></div>
        <div id="username">{% username %}</div>
    </div>
    <div id="middle">
        <div id="title">Account information</div>
    </div>
    <div id="right">
        <div id="homepage"></div>
        <div id="listing"></div>
        <div id="logout"></div>
    </div>
</header>

<div id="profile">
    <div class="category">
        <div class="description">
            <div id="hololens_splash" class="splash"></div>
            <div class="text">HoloLens information</div>
        </div>
        <div class="contents">
            <div class="entry">
                <label for="holoLensIpAddress">IP Address</label>
                <input id="holoLensIpAddress" type="text" class="field" value="{% holoLensIpAddress %}"/>
            </div>
        </div>
    </div>

    <div class="category">
        <div class="description">
            <div id="avatar" class="splash"></div>
            <div class="text">Profile information</div>
        </div>
        <div class="contents">
            <div class="entry">
                <label for="pseudo">Username</label>
                <input id="pseudo" type="text" class="field" value="{% username %}"/>
            </div>
            <div class="entry">
                <label for="email">Email</label>
                <input id="email" type="email" class="field"  value="{% email %}"/></div>
            <div class="entry">
                <label for="password_old">Old password</label>
                <input id="password_old" type="password" class="field"/>
            </div>
            <div class="entry">
                <label for="password">New password</label>
                <input id="password" type="password" class="field"/>
            </div>
            <div class="entry">
                <label for="password2">Confirm the new password</label>
                <input id="password2" type="password" class="field" />
            </div>
        </div>
    </div>

    <div class="category">
        <div class="description">
            <div id="purchase" class="splash"></div>
            <div class="text">Billing information</div>
        </div>
        <div class="contents">
            <div class="entry">
                <label for="firstname">Firstname</label>
                <input id="firstname" type="text" class="field"  value="{% firstname %}"/>
            </div>
            <div class="entry">
                <label for="lastname">Lastname</label>
                <input id="lastname" type="text" class="field"  value="{% lastname %}"/>
            </div>
            <div class="entry">
                <label for="address">Adress</label>
                <input id="address" type="text" class="field"  value="{% address %}"/>
            </div>
            <div class="entry">
                <label for="city">City</label>
                <input id="city" type="text" class="field"  value="{% city %}"/>
            </div>
            <div class="entry">
                <label for="postal">Postal code</label>
                <input id="postal" type="text" class="field"  value="{% postal %}"/>
            </div>
            <div class="entry">
                <label for="phone">Phone</label>
                <input id="phone" type="text" class="field"  value="{% phone %}"/>
            </div>
        </div>
    </div>

    <div id="bottom">
        <input type="button" id="feedback" class="inactive" value="..."/>
        <input type="button" id="update" value="Update my profile"/>
    </div>
</div>

</body>

<footer>
    <div id="logo"></div>
    <script type="text/javascript" src="http://virtualdeck.local.com/scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="http://virtualdeck.local.com/scripts/auth/profile.js"></script>
</footer>
</html>
