body {
    background-image: url("http://virtualdeck.local.com/images/background.jpg");
    font-family: "Segoe UI", Helvetica, sans-serif;
    margin: 0;
}

header {
    z-index: 999;
    background-color: white;
    border-bottom: 2px solid #c0d6df;
    position: fixed;
    top: 0;
    height: 5vh;
    min-height: 48px;
    width: 100%;
    display: flex;
    text-align: center;
}

#left {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

#middle {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

#right {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}

#logo {
    position: fixed;
    bottom: 0;
    right: 0;
    background-image: url("http://virtualdeck.local.com/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    width: 130px;
    height: 130px;
}

#hololens {
    background-image: url("http://virtualdeck.local.com/images/hololens.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    width: 30%;
    height: 100%;
}

#homepage {
    background-image: url("http://virtualdeck.local.com/images/home.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height: 60%;
    cursor: pointer;
}

#listing {
    background-image: url("http://virtualdeck.local.com/images/listing.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height: 60%;
    cursor: pointer;
}

#logout {
    background-image: url("http://virtualdeck.local.com/images/logout.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height: 60%;
    cursor: pointer;
}
