#games {
    z-index: 3;
    margin-top: 10vh;
    justify-content: space-evenly;
    align-items: center;
}

#feedback {
    font-family: Arial, serif;
    font-size: 16px;
    border: 0;
    width: 30%;
    height: 32px;
    min-height: fit-content;
    position: fixed;
    bottom: 0;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #234f63;
    background-color: lightcoral;
    padding: 0 5px;
}

#feedback:hover {
    background-color: #c66b6b;
}

#feedback.success {
    background-color: lightgreen;
}

#feedback.success:hover {
    background-color: #7acc7a;
}

.game {
    width: 80%;
    height: 10vh;
    background-image: url("http://virtualdeck.local.com/images/cart.jpg");
    color: white;
    margin: 5vh auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
    transition: all .5s;
}

.game:hover {
    box-shadow: 8px 8px 32px 8px rgba(0,0,0,0.8);
}

.left {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    font-variant: small-caps;
}

.middle {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.right {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 5px;
    background-color: white;
    color: black;
}

.hidden {
    display: none !important;
}

.button {
    font-family: Arial, serif;
    font-weight: bold;
    background-color: #d5d5d5;
    border: 0;
    width: 25%;
    height: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button:hover {
    background-color: #c8c8c8;
}

.blocked {
    background-color: #d5d5d5;
    cursor: not-allowed;
}

.authorized {
    cursor: default;
}

.picture {
    width: 50%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.name {
    width: 50%;
    text-align: left;
}

.description {
    text-align: left;
    width: 100%;
}

#allgames {
    width: 30vw;
    min-width: fit-content;
    margin-left: 35vw;
    color: #234f63;
    text-transform: uppercase;
    background-color: #c0d6df;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-size: 13px;
}

#allgames:hover {
    background-color: #adbfc6;
}

.video {
    width: 80%;
    height: fit-content;
    margin: auto;
    margin-top: -5vh;
}

video {
    width: 100%;
}

#loader {
    z-index: 3;
    background-image: url('http://virtualdeck.local.com/images/background.jpg');
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;;
    align-items: center;
}

#hider {
    z-index: 2;
    background-image: url("http://virtualdeck.local.com/images/background.jpg");
    position: fixed;;
    top: 0;
    left: 0;
    width: 192px;
    height: 100vh;
}

#microsoft {
    position: fixed;
    bottom: 0;
    right: 130px;
    background-image: url("http://virtualdeck.local.com/images/microsoft.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    width: 130px;
    height: 130px;
}