@font-face {
    font-family: techno;
    src: url(../fonts/ethnocentric.ttf);
}

@font-face {
    font-family: sanchez;
    src: url(../fonts/sanchez.otf);
}

body {
    overflow-x: hidden;
    font-family: sanchez, fantasy;
}

.page {
    width: 100vw;
    height: 100vh;
}

.text {
    font-size: 30px;
    margin: auto;
    text-align: center;
    font-family: techno, fantasy;
}

#title {
    font-size: 50px;
}

.icon {
    margin: 10vh auto 5vh auto;
    height: 40vh;
    background-size:  contain;
    background-repeat: no-repeat;
    background-position: center;
}

#logo {
    background-image: url("../images/logo.png");
}

#hololens {
    background-image: url("../images/hololens.gif");
}

#corpse {
    height: 45vh;
}

.video {
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.hidden {
    display: none !important;
}

.button {
    background-color: #008CBA;
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: sanchez, fantasy;
    font-size: 13px;
    font-variant: small-caps;
    font-weight: bold;
    overflow: hidden;
    letter-spacing: .1em;
    transition: all 1s ease;
}

#error {
    position: absolute;
    bottom: 15vh;
    width: 20%;
    margin: 0 40%;
    background-color: #f44336;
}

#controls {
    position: fixed;
    right: 2vh;
    bottom: 2vh;
}

#controls .button {
    padding: 8px;
    font-size: 10px;
}

#connect {
    position: absolute;
    bottom: 2vh;
    width: 20%;
    margin: 0 40%;
}

#login_form {
    width: 50%;
    margin: auto;
}

.field {
    border: 2px solid #008CBA;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    transition: all 1s ease;
    margin: 5px;
}

#login_form .field {
    width: 100%;
}

#sign_form {
    display: grid;
    background-color: white;
    border: 2px solid #008CBA;
    border-radius: 5px;
    padding: 15px;
    width: 60vw;
    height: 90vh;
    margin: auto;
}

#sign_form .field {
    text-align: left;
    width: 60%;
}

label {
    float: left;
    width: 30%;
    padding-top: 16px;
}

.sign_label {
    margin-bottom: 5px;
}

#sign {
    margin: auto;
    text-align: center;
}

#sign .field {
    text-align: center;
}

#toggle {
    position: fixed;
    right: 2vh;
    top: 2vh;
}
