#profile {
    margin-top: 10vh;
    justify-content: space-evenly;
    align-items: center;
}

#bottom {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#feedback {
    font-family: Arial, serif;
    color: #234f63;
    border: 0;
    width: 30%;
    min-width: fit-content;
    margin: auto;
    border: none;
    padding: 15px 32px;
    text-align: center;
}

#feedback.error {
    background-color: lightcoral;
}

#feedback.error:hover {
    background-color: #c66b6b;
}

#feedback.success {
    background-color: lightgreen;
}

#feedback.success:hover {
    background-color: #7acc7a;
}

#feedback.inactive {
    background-color: lightgrey;
}

#update {
    width: 30%;
    min-width: fit-content;
    margin: auto;
    color: #234f63;
    text-transform: uppercase;
    background-color: #c0d6df;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-family: "Segoe UI", Helvetica, sans-serif;
}

#update:hover {
    background-color: #adbfc6;
}


.hidden {
    display: none !important;
}

.category {
    display: grid;
    background-color: white;
    border: 2px solid #c0d6df;
    border-radius: 5px;
    padding: 15px;
    width: 60%;
    margin: 15px auto;
}

.entry {
    margin: 5px auto;
}

label {
    float: left;
    width: 30%;
    height: 100%;
    padding-top: 7px;
}

.field {
    border: 2px solid #c0d6df;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-size: 13px;
    transition: all 1s ease;
    width: 60%;
}

.description {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text {
    width: 80%;
}

.splash {
    width: 20%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#hololens_splash {
    background-image: url("http://virtualdeck.local.com/images/hololens.png");
}

#avatar {
    background-image: url("http://virtualdeck.local.com/images/avatar.jpg");
}

#purchase {
    background-image: url("http://virtualdeck.local.com/images/buy.png");
}
